.rutgon p{
    margin-top: 3px;
    margin-left: 5px;
    position: relative;
    max-width: 100%;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}