body {

    background: url('/Asset/client/images/Keto-af2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.logo_products {
    padding: 46px 0 0em;
}

.img-thumbnail {
   
    max-width: 200px;
   
}
