<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Trang quản lý</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/Admin/Home">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Trang chủ</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu quanly">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Hệ thống</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMulti">
                    <li>
                        <a href="/Admin/Nguoidung/Index">Quản lý User</a>
                    </li>
                    <li>
                        <a href="/Admin/Quanly/Index">Quản lý Nhân viên</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu thuc pham">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Quản lý thực phẩm</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMulti2">
                    <li>
                        <a href="/Admin/Thucpham/Index">Thực phẩm</a>
                    </li>
                    <li>
                        <a href="/Admin/Tintuc/Index">Tin tức</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu thuc pham">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti3" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Quản lý chung</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMulti3">
                    <li>
                        <a href="/Admin/Thucpham/Index">Giới thiệu.</a>
                    </li>
                    <li>
                        <a href="/Admin/Tintuc/Index">Footer</a>
                    </li>
                    <li>
                        <a href="/Admin/Thucpham/Index">Menu</a>
                    </li>
                    <li>
                        <a href="/Admin/Tintuc/Index">Slide</a>
                    </li>
                    <li>
                        <a href="/Admin/Tintuc/Index">Phản hồi</a>
                    </li>
                </ul>
            </li>
            
            
           
           
               

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
           

            
            <li>@Html.ActionLink("Thoát", "Logout", "Login")</li>
               
            
        </ul>
    </div>
</nav>